body {
  background-color: #f9f9f9 !important;
}

button:focus {
  outline: none !important;
}

.single {
  width: 100%;
}

.img {
width: 80px;
  display: block;
  margin: 1rem 0;
  cursor: pointer;
  border: 1px solid #ccc;
}

.imgB {
  border: 2px solid #cf9833;
}

.icon {
  font-size: 14px;
  margin: 0 4px;
  color: #f8da48;
}

.btnW,
.btnB {
  margin: 0 7px;
  background-color: #fff;
  border-radius: 60px;
  padding: 10px 30px;
  border: 0;
  border: 1px solid #f6f6f6;
}

.btnW:focus,
.btnB:focus {
  outline: none;
}

.clc {
  border: 1px solid #cf9833 !important;
  color: #cf9833;
}

.btnM {
  margin: 0 7px;
  background-color: #fff;
  border-radius: 60px;
  padding: 10px 30px;
  margin-top: 10px;
  border: 0;
  border: 1px solid #f6f6f6;
}

.bkw {
  background-color: #fff;
  padding: 1.4rem;
  margin-top: 2rem;
  border-radius: 20px;
  border: 2px solid #ddd;
}

.btnadd {
  border-radius: 60px;
  padding: 10px;
  border: 0;
  background: #cf9833;
  color: #fff;
  margin-bottom: 1rem;
}

.btnIn {
  position: relative;
}

.inp {
  border: 1px solid #cf9833 !important;
  border-radius: 60px !important;
  text-align: center;
  padding: 1.2rem 0 !important;
}

.inp:focus {
  outline: none;
}

.inc,
.dec {
  position: absolute;
  color: #ccc;
}

.inc {
  bottom: 10%;
  right: 15%;
  font-size: 1.1rem;
  cursor: pointer;
}

.dec {
  bottom: 10%;
  left: 15%;
  font-size: 1.1rem;
  cursor: pointer;
}

.heart {
  font-size: 2rem;
  border: 1px solid #ccc;
  color: #444;
  padding: 0.3rem;
  border-radius: 50%;
}

.cach {
  font-size: 2rem;
  margin: 10px;
}

.pay,
.more {
  font-size: 15px;
}

.more {
  color: #cf9833;
}

/* nav-bar */
.nav-bar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  border-bottom: 2px solid #cf9833;
  width: 100%;
}

.li {
  padding: 10px 20px;
  cursor: pointer;
}

.li.cl {
  background-color: #cf9833;
  color: #fff;
}

/*  */
.cart {
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 0 1px #dee2e6;
  padding: 10px;
}

.Product1Img {
  width: 100%;
}

.heart1 {
  font-size: 2.2rem;
  border: 1px solid #ccc;
  color: #444;
  padding: 0.4rem;
  border-radius: 50%;
}

.p {
  width: 80%;
  padding-left: 3rem;
  font-size: 14px;
  margin-left: auto;
  text-align: right;
}

table {
  border-collapse: collapse;
  border-radius: 60px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #dee2e6;
}

td {
  border: 1px solid #dee2e6;
}

.td {
  background-color: #fff !important;
  font-size: 14px;
  padding: 10px !important;
}

.tdc {
  color: #b1b1b1;
}

.sp {
  font-size: 13px;
  margin-bottom: 0;
  align-self: center;
  color: #b1b1b1;
  padding-bottom: 0;
  display: inline-block;
  margin-left: 4px;
}

.btnComment {
  border-radius: 60px;
  padding: 10px 20px;
  border: 0;
  background: #cf9833;
  color: #fff;
  margin: 1rem 0;
}

/*  */
.imgProd {
  width: 100%;
  display: block;
}

/* Products */
.iconP {
  font-size: 10px;
  margin: 0 4px;
  color: #f8da48;
}

.nameP {
  font-size: 13px;
  margin: 6px 0;
}

.priceP {
  font-weight: 600;
}

/*  */
.bkws {
  background-color: #fff;
}

.Product {
  width: 100%;
}
.single1,
.single {
  padding: 3rem;
  position: relative;
}
.PersonsDC {
  display: flex;
  justify-content: space-between;
}
.Test {
  display: flex;
}
.DivImg {
  width: 110px;
  height: 110px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}
.Person {
  color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px;
}

@media (max-width: 500px) {
  .single,
  .single1 {
    padding: 0 !important;
  }
  .p {
    width: 100%;
    padding-left: 0 !important ;
  }
  .pTest {
    width: 100%;
    font-size: 10px;
  }

}

@media (max-width: 600px) {
  .rowking{
    position: absolute;
    right: 0;
  }
  .img{
    width: 50px;
  }
  .li{
    padding: 10px !important;
  }
}
