@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap");

.font-main {
  font-family: "Tajawal", sans-serif !important;
}
a:hover{
  text-decoration: none !important;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: #f9f9f9 !important;
  direction: rtl !important;
}

.C_p {
  cursor: pointer;
}

button:focus {
  outline: none !important;
}

.single {
  width: 100%;
}

.img {
  width: 80px;
  display: block;
  margin: 1rem 0;
  cursor: pointer;
  border: 1px solid #ccc;
}

.imgB {
  border: 2px solid #cf9833;
}

.icon {
  font-size: 14px;
  margin: 0 4px;
  color: #f8da48;
}

.btnW,
.btnB {
  margin: 0 7px;
  background-color: #fff;
  border-radius: 60px;
  padding: 10px 30px;
  border: 0;
  border: 1px solid #f6f6f6;
}

.btnW:focus,
.btnB:focus {
  outline: none;
}

.clc {
  border: 1px solid #cf9833 !important;
  color: #cf9833;
}

.btnM {
  margin: 0 7px;
  background-color: #fff;
  border-radius: 60px;
  padding: 10px 30px;
  margin-top: 10px;
  border: 0;
  border: 1px solid #f6f6f6;
}

.bkw {
  background-color: #fff;
  padding: 1.4rem;
  margin-top: 2rem;
  border-radius: 20px;
  border: 2px solid #ddd;
}

.btnadd {
  border-radius: 60px;
  padding: 10px;
  border: 0;
  background: #cf9833;
  color: #fff;
  margin-bottom: 1rem;
}

.btnIn {
  position: relative;
}

.inp {
  border: 1px solid #cf9833 !important;
  border-radius: 60px !important;
  text-align: center;
  padding: 1.2rem 0 !important;
}

.inp:focus {
  outline: none;
}

.inc,
.dec {
  position: absolute;
  color: #ccc;
}

.inc {
  bottom: 10%;
  right: 15%;
  font-size: 1.1rem;
  cursor: pointer;
}

.dec {
  bottom: 10%;
  left: 15%;
  font-size: 1.1rem;
  cursor: pointer;
}

.heart {
  font-size: 2rem;
  border: 1px solid #ccc;
  color: #444;
  padding: 0.3rem;
  border-radius: 50%;
}

.cach {
  font-size: 2rem;
  margin: 10px;
}

.pay,
.more {
  font-size: 15px;
}

.more {
  color: #cf9833;
  text-decoration: underline;
  cursor: pointer;
}

/* nav-bar */
.nav-bar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  border-bottom: 3px solid #cf9833;
  width: 100%;
}

.li {
  padding: 10px 30px;
  cursor: pointer;
}

.li.cl {
  background-color: #cf9833;
  color: #fff;
}

/*  */
.cart {
  background-color: #fff;
  text-align: center;
  /* box-shadow: 0 0 0 1px #dee2e6; */
  box-shadow: 0px 5px 10px #dee2e6;
  border-radius: 6px;
  padding: 10px;
}

.Product1Img {
  width: 100%;
}

.heart1 {
  font-size: 2.2rem;
  border: 1px solid #ccc;
  color: #444;
  padding: 0.4rem;
  border-radius: 50%;
}

.p {
  width: 80%;
  padding-left: 3rem;
  font-size: 14px;
  margin-left: auto;
  text-align: right;
}

table {
  border-collapse: collapse;
  border-radius: 60px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #dee2e6;
}

td {
  border: 1px solid #dee2e6;
}

.td {
  background-color: #fff !important;
  font-size: 14px;
  padding: 10px !important;
}

.tdc {
  color: #b1b1b1;
}

.sp {
  font-size: 13px;
  margin-bottom: 0;
  align-self: center;
  color: #b1b1b1;
  padding-bottom: 0;
  display: inline-block;
  margin-left: 4px;
}

.btnComment {
  border-radius: 60px;
  padding: 10px 20px;
  border: 0;
  background: #cf9833;
  color: #fff;
  margin: 1rem 0;
}

/*  */
.imgProd {
  width: 100%;
  display: block;
}

/* Products */
.iconP {
  font-size: 10px;
  margin: 0 4px;
  color: #f8da48;
}

.nameP {
  font-size: 13px;
  margin: 6px 0;
}

.priceP {
  font-weight: 600;
}

/*  */
.bkws {
  background-color: #fff;
}

.Product {
  width: 100%;
}

.single1,
.single {
  padding: 3rem;
  position: relative;
}

.PersonsDC {
  display: flex;
  justify-content: space-between;
}

.Test {
  display: flex;
}

.DivImg {
  width: 110px;
  height: 110px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.Person {
  color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px;
}

.btn_more {
  width: 100%;
  margin-top: 1rem;
  border: 0;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 6px;
}

/* Nav */
.fir {
  box-shadow: 0px 0px 10px #ccc !important;
}

.logo {
  align-self: center;
  width: 14%;
}

.input {
  position: relative;
  width: 50%;
  align-self: center;
}

.input_Search {
  position: relative;
  padding: 10px;
  border: 0;
  border: 1px solid #f6f6f6;
  border-radius: 40px;
  font-family: "Tajawal", sans-serif;
  width: 100%;
}

.card_nav {
  color: #000 !important;
  font-size: 2rem;
}

.input_Search::placeholder {
  font-family: "Tajawal", sans-serif;
}

.input_Search:focus {
  outline: none;
}

.icon_Search {
  position: absolute;
  top: 5%;
  font-size: 2.6rem;
  padding: 9px;
  background-color: #cf9833;
  color: #fff;
  left: 1%;
  width: 20%;
  border-top-left-radius: 49px;
  border-bottom-left-radius: 49px;
  cursor: pointer;
}

.icons_navbar {
  display: flex;
  width: 35%;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.icon_ {
  font-size: 1.7rem;
  margin: 0 30px;
}

.icon_td {
  font-size: 1.5rem;
}

.Heart_Div,
.Cart_Div {
  position: relative;
}

.span33 {
  position: absolute;
  top: 0;
  right: 55%;
  background: #cf9833;
  padding: 3px 5px;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
}

.spancart {
  position: absolute;
  top: 9px;
  right: 39px;
  background: #cf9833;
  padding: 3px 5px;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
}

.Cart_Div>svg {
  font-size: 1.9rem;
}

.nav-item {
  margin: 0 10px !important;
}

.nav-link {
  font-family: "Tajawal", sans-serif;
  font-size: 18px !important;
}

.Nav {
  box-shadow: 0px 0px 10px #ccc !important;
}

.Sections {
  width: 25%;
  text-align: center;
  color: #000 !important;
  font-size: 20px !important;
  font-weight: 600;
  align-items: center;
}

.navbar {
  padding: 0rem 0rem !important;
}

.visa {
  width: 50px;
  height: 28px;
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px;
}

/*  */

.qafeer_logo {
  width: 85%;
  text-align: right;
}
.dflex_small{
  display: flex;
  justify-content: space-between;
}


/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-image: url("./images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.work_hero{
    padding: 3rem;
    text-align: left;
    border: 1px solid #ccc;
    display: flex;
    height: 70%;
    width: 90%;
    align-items: center;
    justify-content: left;
}
.test{
    text-align: left;
    margin-right: auto !important;
}
.h4_hero{
    align-self: center;
    padding-left: 1rem;
    color: #fff;
    font-size: 30px;
}
.h4_hero_2{
    align-self: center;
    padding-left: 5rem;
    color: #fff;
    font-size: 30px;
}
.btn_hero{
    padding: 8px 50px;
    border: 1px solid #ccc;
    background: transparent;
    color: #fff;
    margin-left: 7rem;
}
.fa{
    font-size: 20px;
    color: #fff;
    background-color: #cf9833;
    padding: 10px;
    font-size: 2.5rem;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
}
.info{
    color: #cf9833;
    margin-left: 5px;
    font-size: 23px;
}
@media (max-width: 500px){
    .h4_hero{
        font-size: 18px;
        text-align: center;
        padding-left: 0;
    }
    .h4_hero_2{
      padding-left: 0;
    }
    .test{
      width: 100%;
      text-align: center;
    }
    .btn_hero{
      width: 100px;
      padding: 8px 10px;
      margin: auto;
    }
}

/*  */
@media (max-width: 500px) {

  .single,
  .single1 {
    padding: 0 !important;
  }

  .p {
    width: 100%;
    padding-left: 0 !important;
  }

  .pTest {
    width: 100%;
    font-size: 10px;
  }

  .inc,
  .dec {
    bottom: 6%;
  }

  .logo {
    width: 17%;
  }

  .icons_navbar {
    width: auto;
  }

  .icon_ {
    font-size: 20px !important;
  }

  .icon_td {
    font-size: 20px !important;
  }

  .bkw {
    padding: 1rem 0;
  }

  .visa {
    height: 20px;
    width: 30px;
  }

  .psamll_ {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .sp {
    font-size: 8px;
  }

  .icon {
    font-size: 8px;
  }

  .name-comment {
    font-size: 10px;
    margin-bottom: 0;
    align-self: center;
  }

  .qafeer_logo {
    width: 100%;
    text-align: right;
  }
  .dflex_small{
    display: block !important;
  }
}

.arrow_top_bottom {
  font-size: 23px;
  cursor: pointer;
  color: #cf9833;
}

/* Edit */

.rowking {
  position: absolute;
  right: 0;
}

.carousel_home {
  overflow: hidden;
}

.ced {
  height: 100% !important;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  justify-content: center;
}

.img-Coarousl {
  color: transparent;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px;
}

.carousel-item {
  height: 100% !important;
}

.a1 {
  width: 40px !important;
  background: #f9f9f9 !important;
  height: 50px;
  align-items: center !important;
  align-self: center !important;
  align-items: center;
  top: 50% !important;
  left: 2% !important;
}

.a2 {
  width: 40px !important;
  background: #f9f9f9 !important;
  height: 50px;
  align-items: center !important;
  align-self: center !important;
  align-items: center;
  top: 50% !important;
  right: 2% !important;
}

.arroleft {
  color: #212529;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  left: 8%;
}

.arroright {
  color: #212529;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 8%;
}

.bottom_arr {
  background-color: #f9f9f9;
  color: #212529;
  padding: 7px 10px;
  font-size: 1rem;
}

.carousel-indicators {
  bottom: 2.5rem !important;
}

.carousel-indicators li {
  box-sizing: border-box !important;
}

/*  */

.icon_Sec2 {
  font-size: 2.7rem;
  margin-left: 10px;
  color: #cf9833;
}

.b_g {
  border: 2px solid #dcdcdc;
  border-radius: 3px;
}

/*  */
.left_sec2 {
  align-self: center;
}

.imgs_Tg {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.Tg1_div {
  position: relative;
}

.Tg1 {
  color: transparent;
  width: 100%;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px;
}

.fa_Section {
  color: #fff;
  background-color: #cf9833;
  padding: 5px;
  font-size: 2rem;
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
}

/* Chedck Out */
.bgw_order,
.bgw_order2,
._pay {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #e8e8e8;
}
.bgw_order2 {
    padding: 0;
}
.label{
    text-align: right;
    display: block;
    padding-right: 10px;
    align-self: center;
    font-size: 18px;
    color: #6b6a6a;
}
.star{
    align-self: center;
    color: #cf9833;
}
.input_order {
  display: block;
  padding: 10px;
  border: 0;
  border: 1px solid #cf9833;
  border-radius: 40px;
  width: 100%;
  color: #000;
}
.input_order:focus {
  outline: none;
}
.order_1{
    padding: 10px 20px;
    align-items: center;
}
.img_order_1{
    width: 70px;
    border: 1px solid #e2e2e2;
    align-self: center;
}

.input_order_btn{
    display: block;
    padding: 10px;
    border: 0;
    background-color: #cf9833;
    border-radius: 40px;
    width: 100%;
    margin: auto;
    color: #fff;
}
.input_order_btn:focus{
    outline: none;
}

.her_test{
  width: 100%;
  display: block;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

/*  */
@media (max-width: 600px) {
  .order_1{
    padding: 10px 10px;
  }
  .rowking {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: -4rem;
  }

  .img {
    width: 60px;
    height: 60px;
    margin: 0 2px;
    display: inline-block;
  }

  .li {
    padding: 10px !important;
  }

  .cart {
    padding-right: 0 !important;
  }

  .btnadd {
    font-size: 13px;
    border-radius: 10px;
  }

  .h2p {
    font-size: 15px;
  }

  .div_section_2 {
    bottom: 20% !important;
  }

  .carousel-indicators {
    bottom: 5% !important;
  }

  .a1,
  .a2 {
    height: 25px;
    width: 28px !important;
  }

  .arroleft,
  .arroright {
    top: 6%;
    font-size: 20px;
    right: 11%;
  }
  .bottom_arr {
    padding: 4px 7px;
    font-size: 10px;
  }
  .textmyoe {
    font-size: 10px;
  }
  .b_g{
    border: none;
  }
  .dhover{
    border: 2px solid #dcdcdc;
    padding: 10px;
  }
  .textmyoe1 {
    font-size: 20px;
  }

  .textmyoe2 {
    font-size: 10px;
    margin-top: 5px;
  }

  /*  */

  .icon_Sec2 {
    font-size: 1.5rem;
  }

  .nameSec2 {
    font-size: 10px;
  }

  .PSec2 {
    font-size: 10px;
  }

  .her_test {
    height: 20vh;
  }
}

.div_section_2 {
  position: absolute !important;
  bottom: 30%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.listicon {
  font-size: 1.8rem;
}

.awl {
  font-size: 1rem !important;
}


